<template id="news-item">
    <link rel="stylesheet" href="../../styles/news_item_style.scss">
    <div class="elements">
        <div class="title">
            <h2 id="title">This is the title</h2>
        </div>
        <p id="date">This is the moment it was posted</p>
        <p id="time"></p>
        <p id="source">This is who posted it</p>
        <p id="desc">This is the description</p>
        <img id="img">
        <button id="ratings-button" type="button">Ratings</button>
        <a id="url" href="url"><h3>Continue reading</h3></a>
    </div>
</template>