@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.banner {
    background-color: rgb(105, 0, 175);
    padding: 10px;
}


h1 {
    font-size: 60px;
    margin: 0px;
    font-family: Oswald;
    color: white;
}

h2 {
    font-size: 50px;
    margin: 0px;
    font-family: Oswald;
    color: white;
}

p {
    font-size: 30px;
    margin: 0px;
    font-family: Oswald;
    color: white;
}

.center-div {
    text-align: center;
}

html, body {
    background-color: rgb(18, 18, 18);
    margin: 0px;
    height: 100%;
}